html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
  }
.active-btn {
  background-color: #A5F3FC;
  color: white;
  font-weight: 600;
}


.glass-container {
    background: rgba(209, 209, 209, 0.8);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    width: 100%;
    max-width: 480px;
    margin: 5rem auto 0;
}
